body {
    font: 20px Arial, sans-serif;  
    color: black;  
}
.navbar {
    background-color:#4B8A08;       
}
.quem-somos {
    background-color:#5FB404;    
}
.margin {   
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros {
    background-color:#74DF00;
}
.servicos {
    background-color:#ACFA58;
}
.bg-footer {
    background-color:#ACFA58; 
    color: black;
}